<h5>Exemplo de pipes</h5>

<p>
  Título: <strong>{{ livro.titulo | uppercase | camelCase }}</strong>
</p>
<p>
  Nota: <strong>{{ livro.nota | number }}</strong>
</p>
<p>
  Número de páginas: <strong>{{ livro.numeroPaginas | number }}</strong>
</p>
<p>
  Preço: <strong>{{ livro.preco | currency:'BRL' }}</strong>
</p>
<p>
  Data de lançamento: <strong>{{ livro.dataLancamento | date }}</strong>
</p>
<p>
  Url: <strong>{{ livro.url }}</strong>
</p>
<hr>
<p>Livro: {{ livro | json }}</p>


<h5>Lista de livros <small>Pipe puro</small></h5>

<label for="">Novo livro</label>
<br>
<input type="text" [(ngModel)]="curso" placeholder="nome do livro">
<br>
<button type="button" name="button" (click)="addCurso(curso)">Adicionar</button>
<br>
<input type="text" name="" id="" [(ngModel)]="filtro" placeholder="Buscar livro">
<ul>
  <li *ngFor="let livro of livros | filtroArray:filtro">
    {{ livro }}
  </li>
</ul>

<h5>Lista de livros <small>Pipe impuro</small></h5>
<input type="text" name="" id="" [(ngModel)]="filtro">
<ul>
  <li *ngFor="let livro of livros | filtroArrayImpuro:filtro">
    {{ livro }}
  </li>
</ul>


<h5>Lista de livros <small>Forma correta</small></h5>
<input type="text" name="" id="" [(ngModel)]="filtro">
<ul>
  <li *ngFor="let livro of filtrarCurso()">
    {{ livro }}
  </li>
</ul>
