<h5>Exemplo de pipes</h5>

<p>
  Título: <strong>{{ livro.titulo | uppercase | camelCase }}</strong>
</p>
<p>
  Nota: <strong>{{ livro.nota | number }}</strong>
</p>
<p>
  Número de páginas: <strong>{{ livro.numeroPaginas | number }}</strong>
</p>
<p>
  Preço: <strong>{{ livro.preco | currency:'BRL' }}</strong>
</p>
<p>
  Data de lançamento: <strong>{{ livro.dataLancamento | date }}</strong>
</p>
<p>
  Url: <strong>{{ livro.url }}</strong>
</p>
<hr>
<p>Livro: {{ livro | json }}</p>


<h5>Lista de livros</h5>
<input type="text" name="" id="" [(ngModel)]="filtro">
<ul>
  <li *ngFor="let livro of livros | filtroArray:filtro">
    {{ livro }}
  </li>
</ul>
